.form {
    width: 90%;
    height: 100%;
    background-color: #1976d2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-size: x-large;
    font-family: math;
    color: #f5f5f5;
}

.form input {
    border-radius: 10px;
    border: none;
    outline: none;
    width: 60%;
    height: 3rem;
    padding-left: 0.5rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.form input:focus {
    border: 1px solid #6eafce;
}

.form-results {
    width: 90%;
    height: 100%;
    background-color: #1976d2;
    border-radius: 10px;
    overflow-y: scroll;
    position: relative;
}


.form-result {
    width: 90%;
    height: auto;
    background-color: #fff;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.text-no-items {
    color: #fff;
    font-size: x-large;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.name-more-container {
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
    font-family: math;
    
}

.address {
    display: flex;
    flex-direction: column;
    font-family: math;
}

.date {
    display: flex;
    flex-direction: column;
    font-family: math;
}

.phone {
    display: flex;
    flex-direction: column;
    font-family: math;
}

.todo-row {
    margin-top: 3rem !important;
}

.col-1 {
    display: flex;
    justify-content: center;
    height: 70vh;
}

.col-2 {
    display: flex;
    justify-content: center;
    height: 70vh;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }