.form {
    width: 35rem;
    height: 4rem;
    background-color: #3b73a9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}


.form input {
    border-radius: 20px;
    border: none;
    outline: none;
    width: 6.5rem;
    height: 2.4rem;
    padding-left: 0.5rem;
    margin-left: 0.7rem;
    color: #191919;
}

.form input:focus {
    border: 1px solid #afbfe3;
}

.form-results {
    width: 35rem;
    height: 20rem;
    /* background-color: #3b73a9; */
    background-image: url(../../assets/todo_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* filter: blur(0.3px);
    -webkit-filter: blur(0.3px); */
    border-radius: 10px;
    overflow-y: scroll;
    position: relative;
}


.form-result {
    width: auto;
    height: auto;
    background-color: #464950;
    color: white;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    margin-top: 1.3rem;
}

.text-no-items {
    color: #191919;
    font-size: x-large;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-more-container {
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
    font-family: math;

}

.address {
    display: flex;
    flex-direction: column;
    font-family: math;
}

.date {
    display: flex;
    flex-direction: column;
    font-family: math;
}

.phone {
    display: flex;
    flex-direction: column;
    font-family: math;
}

.name label,
.address label,
.date label,
.phone label {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
}

.todo-contain {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.todo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.todo-img {
    background-color: white;
    background-size: 100% 102%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-img img {
    max-width: 40rem;
}

.return-icon {
    width: 35px;
    height: 35px;
    background-color: #5e6b74;
    opacity: 0.4;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 13px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.return-icon:hover {
    opacity: 1;
}

.todo-content h3 {
    margin-top: -2.5rem;
    font-size: 3rem;
    color: #015288;
    text-transform: capitalize;
}

.todo-content .separator {
    width: 8.5rem;
    height: 2px;
    background-color: #fd7c78;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.separator-section {
    width: 30%;
    margin-left: 35%;
    height: 2px;
    background-color: #191919;
    border-radius: 10px;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.add-btn {
    border-radius: 10px;
    height: 2.3rem;
    margin-left: 1.1rem;
    color: #191919;
    text-transform: capitalize;
    background-color: #afbfe3;
    border: none;
    outline: none;
    transition: 0.5s ease;
}

.add-btn:hover {
    margin-left: 1.4rem;
}

@media (max-width: 1100px) {

    .todo-contain {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo-content {
        width: 100%;
    }

    .todo-img {
        display: none;
    }
}

@media (max-width: 600px) {

    .form {
        width: 25rem;
    }

    .form-results {
        width: 25rem;
    }

    .form input {
        width: 4rem;
    }

    .text-no-items {
        font-size: medium;
    }
}

@media (max-width: 430px) {

    .form {
        width: 20rem;
    }

    .form-results {
        width: 20rem;
    }

    .form input {
        width: 3rem;
    }

    .text-no-items {
        font-size: medium;
    }
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}