.side-line::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #dfdfdf;
  }

.ul-container {
  background-color: #dfdfdf;
  height: 9rem;
  border-radius: 8px;
  width: 100%;
  overflow-y: scroll;
  padding: 1rem;
}