.about-link , .contact-link , .todo-link  {
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

/* .about-link:hover,
.contact-link:hover,
.todo-link:hover {
    color: white;
} */